<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar Veiculo</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/forms.css')}}"
    />
  </head>
  <body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash-messages">
        {% for msg in messages %}
          <div class="flash">{{ msg }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

    <h1 class="titulo_principal">SISTEMA DE GERENCIAMENTO DE FROTA</h1>
    <h2 class="subtitulo_principal">Cadastro Veiculo</h2>

    <form action="/criar_veiculo" method="POST" >
      <main class="forms-area">
        <label class="forms-label" for="placa">Placa (PADRÃO MERCOSUL)</label>
        <input class="forms-input" type="text" name="placa" id="placa" required/>
        <a href="{{url_for('routes_read.tabela_modelo')}}" class="button-i" target="_blank">
            <label class="forms-label modelo-forms" for="modelo do veiculo">ID do Veiculo (Clique para ver modelos)</label>
        </a>
        <input class="forms-input" type="text" name="modelo_fk" id="modelo_fk" required/>
        <label class="forms-label" for="ano do carro">Ano do carro</label>
        <input class="forms-input" type="text" name="ano" id="ano" required/>
        <label class="forms-label" for="disponibilidade">Disponibilidade</label>
        <select name="disponibilidade" id="disponibilidade" class="select-input" required>
          <option value="">Selecione</option>
          <option value="ATIVO">ATIVO</option>
          <option value="INATIVO">INATIVO</option>
        </select>
        <label class="forms-label" for="quilometragem">quilometragem</label>
        <input class="forms-input" type="number" step="0.01" name="quilometragem" id="quilometragem" required/>
      </main>
      <div class="buttons">
        <button class="submit-button" type="submit">Enviar</button>

      </div>
    </form>
  </body>
</html>
