<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atualizar Veículo</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/forms.css')}}"
    />
    <link rel="shortcut icon" href="{{url_for('static', filename='img/truck.svg')}}" type="image/x-icon">

  </head>
  <body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash-messages">
        {% for msg in messages %}
          <div class="flash">{{ msg }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

    <h1 class="titulo_principal">SISTEMA DE GERENCIAMENTO DE FROTA</h1>
    <h2 class="subtitulo_principal">Atualizar Veiculo</h2>

    <form action="/atualizar_veiculo" method="POST" >
      <main class="forms-area">
        <label class="forms-label" for="placa">Placa (PADRÃO MERCOSUL)</label>
        <input class="forms-input" type="text" name="placa" id="placa" required/>
        <label class="forms-label" for="status">Status</label>
        <select name="status" id="status" class="select-input" >
          <option value="">Selecione</option>
          <option value="ATIVO">ATIVO</option>
          <option value="INATIVO">INATIVO</option>
        </select>
        <label class="forms-label" for="consumo_medio_km_l">Consumo (KM/L)</label>
        <input class="forms-input" type="number" step="0.01" name="consumo_medio_km_l" id="consumo_medio_km_l" />
      </main>
      <div class="buttons">
        <button class="submit-button" type="submit">Enviar</button>

      </div>
    </form>
  </body>
</html>
