html{
    height: 100%;
    font-size: 37.5%;
}

:root{
    --cor-do-texto: #1B263B;
    --card-color: #e1eafe;
    --cor-do-titulo: #F0F3FA;

}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}


body{
    font-family: Inter;
    margin: 0;
    padding: 0;
    background-color: #1B263B;
}


.titulo_principal{
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    color: var(--cor-do-titulo);
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: .5rem;
}

.subtitulo_principal{
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--cor-do-titulo);
    margin-top: 2rem;
    letter-spacing: .25rem;
    margin-bottom: 8rem;
}


.principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    grid-template-areas: 
    "person veicles fuel"
    "maintenance report history";

    height: 68vh;
    padding: 2rem 5rem 2rem 7rem;
    text-align: center;
    cursor: pointer;
    place-items: center;
}

.principal-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    grid-template-areas: 
    "person veicles"
    "report history";

    height: 68vh;
    padding: 2rem 5rem 2rem 7rem;
    text-align: center;
    cursor: pointer;
    place-items: center;

}

.principal-report{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    grid-template-areas: 
    "person veicles"
    "reportum reportdois";

    height: 68vh;
    padding: 2rem 5rem 2rem 7rem;
    text-align: center;
    cursor: pointer;
    place-items: center;

}

.principal_card:hover{
  transform: scale(1.03);
  background-color: #c4d5fb;
  transition: all 0.2s ease-in-out;
  border: 1px solid #000000;
    
}

.principal_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--card-color);
    color: var(--cor-do-texto);
    border-radius: 12px;

    height: 25rem;  /* ok */
    width: 62.5rem;    /* ocupa toda a célula da grid */
    box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
    letter-spacing: .25rem;



}

.card_link{
    text-decoration: none;
}


.principal_card_name{
    font-size: 6rem;
}

.km_veiculo{
    font-size: 4.5rem;
}

.principal_card_img{
    margin-top: 5rem;
    width: 6rem;
    height: 6rem;
}

.principal_card_person{
    grid-area: person;

    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
}

.principal_card_veicle{
    grid-area: veicles;

    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
}

.principal_card_fuel{
    grid-area: fuel;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
}

.principal_card_maintence{
    grid-area: maintenance;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
}

.principal_card_report1{
    grid-area: reportum;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
}

.principal_card_report2{
    grid-area: reportdois;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
}

.report{
    grid-area: report;
    margin: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
}

.principal_card_history{
    grid-area: history;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
}


.flash-messages {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  justify-content: center;
  margin: 1rem auto;
  max-width: 60rem;
}

.flash {
  background-color: #4CAF50; /* verde de sucesso */
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  animation: fadeInOut 4s ease forwards;
}


/* some automaticamente depois de 4s */
@keyframes fadeInOut {
  0%   { opacity: 0; transform: translateY(-10px); }
  10%  { opacity: 1; transform: translateY(0); }
  90%  { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}



