html {
  height: 100%;
  font-size: 37.5%;
}

:root {
  --cor-do-texto: #1b263b;
  --card-color: #e1eafe;
  --cor-do-titulo: #f0f3fa;
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: Inter;
  margin: 0;
  padding: 0;
  background-color: #1b263b;
}

.titulo_principal {
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  color: var(--cor-do-titulo);
  margin-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
}

.subtitulo_principal {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--cor-do-titulo);
  margin-top: 2rem;
  letter-spacing: 0.25rem;
  margin-bottom: 12rem;
}

.tabela-info {
  color: var(--cor-do-texto);
  font-size: 4rem;
}

th {
  text-align: center;
}

td {
  color: var(--cor-do-titulo);
  font-size: 2rem;
}
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: scroll;
  max-height: 1200px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
}

.forms-label {
  font-size: 3rem;
  margin-bottom: 5px;
  color: var(--cor-do-titulo);
  letter-spacing: 0.25rem;
  margin: 1rem 1rem;
}

.forms-input {
  margin: 1.5rem 0 1.75rem 0;
  width: 62rem;
  height: 1rem;
  padding: 1.26rem 1.26rem 1.26rem 1.6rem;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 6px;
  background-color: #ffffff;
  text-align: center;
  color: rgb(55, 55, 55);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.724);
  color: var(--cor-do-texto);
}

.forms-input:focus {
  border-color: var(--cor-do-texto);
  box-shadow: 0 0 4px 1px rgb(71, 98, 146, 0.25);
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
}
.forms-input:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  outline: 2px solid var(--cor-do-texto);
}

.forms-area {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 25%;
  left: 28%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 55vh;
  width: 50vw;
  padding: 20px;
}

.submit-button {
  position: absolute;
  top: 21%;
  left: 54%;

  background-color: var(--cor-do-titulo); /* lilás moderno */
  color: var(--cor-do-texto);
  border-radius: 10px;
  padding: 2.0rem 1.5rem 2rem 1.5rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  box-shadow: 1px 5px 10px 2px rgba(136, 180, 255, 0.25);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  height: max-content;
  width: max-content;
  margin-right: 0.2rem;
  margin-top: 1.5rem;
  font-weight: 600;

}

.submit-button:hover {
  transform: translateY(-2px);
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 5px 10px 2px rgba(119, 169, 255, 0.646);
  outline: 1px solid black;
}



.clean-button {
  position: absolute;
  top: 21%;
  left: 60%;

  background-color: var(--cor-do-titulo); /* lilás moderno */
  color: var(--cor-do-texto);
  border-radius: 10px;
  padding: 2.0rem 3rem 2rem 3rem;
  margin-left: 2.1rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  box-shadow: 1px 5px 10px 2px rgba(136, 180, 255, 0.25);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  height: max-content;
  width: max-content;
  margin-right: 0.2rem;
  margin-top: 1.5rem;
  font-weight: 600;

}

.clean-button:hover {
  transform: translateY(-2px);
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 5px 10px 2px rgba(119, 169, 255, 0.646);
  outline: 1px solid black;
}

