/* Reset and scalable root sizing */
html {
  height: 100%;
  font-size: 37.5%;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --cor-do-texto: #1b263b;
  --card-color: #e1eafe;
  --cor-do-titulo: #f0f3fa;
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: Inter;
  margin: 0;
  padding: 0;
  background-color: #1b263b;
}

.titulo_principal {
  text-align: center;
  font-size: clamp(2.5rem, 6vw, 7rem);
  font-weight: bold;
  color: var(--cor-do-titulo);
  margin: 2rem 0;
  letter-spacing: 0.5rem;
}

.subtitulo_principal {
  text-align: center;
  font-size: clamp(1.8rem, 4vw, 4.5rem);
  font-weight: bold;
  color: var(--cor-do-titulo);
  margin-top: 2rem;
  letter-spacing: 0.25rem;
  margin-bottom: 8vh;
}

.tabela-info {
  color: var(--cor-do-texto);
  font-size: clamp(1.5rem, 2.5vw, 4rem);
}

th {
  text-align: center;
}

td {
  color: var(--cor-do-titulo);
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-y: auto;
  max-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  border-radius: 10px;
}

.forms-label {
  font-size: clamp(1.6rem, 3vw, 3rem);
  margin-bottom: 5px;
  color: var(--cor-do-titulo);
  letter-spacing: 0.25rem;
  margin: 1rem;
}

.forms-input {
  margin: 1.5rem 0;
  width: min(80vw, 62rem);
  padding: 1.2rem 1.6rem;
  border: none;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
  border-radius: 6px;
  background-color: #ffffff;
  text-align: center;
  color: var(--cor-do-texto);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.724);
}

.forms-input:focus {
  box-shadow: 0 0 4px 1px rgba(71, 98, 146, 0.25);
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
}

.forms-input:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  outline: 2px solid var(--cor-do-texto);
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.forms-area {
  display: flex;
  flex-direction: collumn;
  position: relative;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 2rem;

}

.submit-button,
.clean-button {

  background-color: var(--cor-do-titulo);
  color: var(--cor-do-texto);
  border-radius: 10px;
  padding: 2rem 3rem;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  cursor: pointer;
  border: none;
  box-shadow: 1px 5px 10px 2px rgba(136, 180, 255, 0.25);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 600;
  max-width: 25rem;
  margin: 1rem;
  align-self: center;
  min-width: 4rem;
}

.submit-button:hover,
.clean-button:hover {
  transform: translateY(-2px);
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 5px 10px 2px rgba(119, 169, 255, 0.646);
  outline: 1px solid black;
}

/* Layout adjustments for smaller screens */
@media (max-width: 768px) {
  .forms-area {
    flex-direction: column;
    width: 90vw;
  }

  .submit-button,
  .clean-button {
    width: 100%;
    text-align: center;
  }
}



      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
      }
      th {
        background: #eee;
      }